* {
    background-color: blueviolet;
}

h1 {
    background-color: violet;
    color: purple;
    font-size: 36px;
    text-align: center;
    font-family: "Times New Roman", Helvetica, sans-serif;
}

h2 {
    background-color: purple;
    color: lightpink;
    font-size: 24px;
    text-align: center;
}

.recipe {
    display: inline-block;
    background-color: violet;
    color: blue;
    font-size: 24px;
    font-family: "Courier New", "Lucida Handwriting", sans-serif;
    padding: 8px;
    margin: 5px auto;
}

.recipe.chicken {
    background-color: blueviolet;
    color: violet;
}

.recipe.asparagus {
    background-color:green;
    color: lightgreen;
}

.recipe.hamburger {
    background-color: darkorange;
    color:brown;
}

img {
    display: block;
    height: auto;
    width: 400px;
    margin: 0 auto;
}

.home-button {
    display: block;
    padding: 8px;
    background-color: red;
    margin: 5px auto;
}

.home-link {
    background-color: red;
    color: white;
    margin: 0 auto;
}

.top-button {
    display:block;
    background-color: violet;
    padding: 8px;
    margin: 5px auto;
}

.top-link {
    background-color: violet;
    color: white;
    margin: 0 auto;
}